@using System.Linq;
@using BLL.Entities;
@model IEnumerable<DevLang>

@((Model.Count() > 1) ? "Langues maitrisées: " : "Langue maitrisée: ") 
<ul>
    @foreach (var item in Model)
    {
    <li>@item.itLang.ITLabel (depuis @item.since)</li>
    }
</ul>
